h1 {
    margin: 20px;
    text-align: center;
    font-style: bold;
    font-size: 50px;
    color: rgb(40, 25, 19);
    text-shadow: 2px 2px 4px #000000;
    
}


   
body {
    
    padding-left: 5%;
    font-family: 'Merriweather', serif;
    font-size: 25px;
    text-align: center;
    background-image: linear-gradient(to right, #ffffff, #d4d4d4, #aaaaaa, #828282, #5c5c5c);
}
#n1{
    text-align: center;
}


.btn{
    border-radius: 18px;
    text-shadow: 2px 2px 4px #000000;
    margin-top: -100px;
    width: 15%;
}

.card{
    min-width: 50;
    box-shadow: 0 0 20px 2px;
    margin: 50px;
    margin-left: 5px;
    
}